.octothorpe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.octothorpe-img {
  width: 40px;
  height: 40px;
}

.octothorpe-numeric {
  font-style: italic;
}
