<div
  class="container"
>
  <div
    class="select-buttons"
  >
    <anysong-button
      [btnText]="byArtist"
      (click)="btnClicked(byArtist, 1)"
    >
    </anysong-button>

    <anysong-button
      [btnText]="bySong"
      (click)="btnClicked(bySong, 2)"
    >
    </anysong-button>
  </div>
  <div
    class="select-option-text"
  >
    {{selectTheOptions}}
  </div>
  <div
    *ngIf="optionSelected"
    class="anysong-playground"
  >
    <anysong-playground
      [numeric]="selectedOptionNumber"
      [byWhat]="selectedOptionText"
    >
    </anysong-playground>
  </div>
</div>
