<div
  class="container"
>
  <div
    class="select-buttons"
  >
    <anysong-button
      [btnText]="byArtist"
      (click)="btnClicked(1, byArtist)"
    >
    </anysong-button>

    <anysong-button
      [btnText]="bySong"
      (click)="btnClicked(2, bySong)"
    >
    </anysong-button>
  </div>
  <div
    class="select-option-text"
  >
    {{selectTheOptions}}
  </div>
  <div
    *ngIf="optionSelected"
    class="anysong-playground"
  >
    <anysong-playground
      [selectedOptionButton]="selectedOptionButton"
    >
    </anysong-playground>
  </div>
</div>
